[user]
	email = tonywoodecode@gmail.com 
	name = tony woode
[core]
	excludesfile = /Users/twoode/.gitignore_global
	editor = /usr/local/bin/vim
	autocrlf = input
	filemode = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = current #https://jvns.ca/blog/2024/02/16/popular-git-config-options/ take care a remote with same name doesn't already exist!
	autoSetupRemote = true
# the submodule commands here done after reading https://medium.com/@porteneuve/mastering-git-submodules-34c65e940407
[status]
	submoduleSummary = true
[diff]
	submodule = diff
[alias]
# https://zwischenzugs.com/2016/06/04/power-git-log-graphing/
    graph = log --graph --oneline --all --decorate --topo-order
# https://git-scm.com/book/en/v2/Git-Basics-Git-Aliases
	unstage = reset HEAD --
# what was in merge commit - https://stackoverflow.com/a/23508223/3536094	
	log-merge = "!f() { git log --stat \"$1^..$1\"; }; f"
[pull]
	ff = only
[fetch]
	prune = true
[gui]
	pruneDuringFetch = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[submodule]
	recurse = true
[init]
	defaultBranch = main
[merge]
	conflictStyle = zdiff3 #https://jvns.ca/blog/2024/02/16/popular-git-config-options/
[rebase]
	autostash = true #https://jvns.ca/blog/2024/02/16/popular-git-config-options/
