[user]
	email = tonywoodecode@gmail.com 
	name = tony woode
[core]
	excludesfile = /Users/twoode/.gitignore_global
	editor = /usr/local/bin/vim
	autocrlf = input
	filemode = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.2.2/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
